<h2>Cesta</h2>

<h4>Ha seleccionado usted para comprar estos artículos:</h4>

<p>
  <a routerLink="/shipping">Metodos de envío</a>
</p>

<div class="cart-item" *ngFor="let item of items">
  <span>{{ item.name }}</span>
  <span>{{ item.price | currency }}</span>
</div>
<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value)">

  <div>
    <label for="nombre">
      Nombre y apellidos
    </label>
    <input id="nombre" type="text" formControlName="nombre">
  </div>
    <div>
    <label for="direccion">
      Dirección
    </label>
    <input id="direccion" type="text" formControlName="direccion">
  </div>
    <div>
    <label for="codigo_postal">
      Código postal
    </label>
    <input id="codigo_postal" type="number" formControlName="codigo_postal">
  </div>  <div>
    <label for="telefono">
      Telefono
    </label>
    <input id="telefono" type="number" formControlName="telefono">
  </div>
    <div>
    <label for="numero_de_tarjeta">
      Número de tarjeta
    </label>
    <input id="numero_de_tarjeta" type="number" formControlName="numero_de_tarjeta">
  </div>
  <div>
    <label for="condiciones">
      Acepto las condiciones de compra     
      <input id="condiciones" type="checkbox" formControlName="condiciones">
    </label>
  </div>
  
  <button class="button" type="submit">Realizar pedido</button>

</form>