<body>
  <h2>Condiciones de compra</h2>

<p>Los precios y condiciones de venta tienen un carácter meramente informativo y pueden ser modificados en atención a las fluctuaciones del mercado. No obstante, la realización del pedido mediante la cumplimentación del formulario de compra, implica la conformidad con el precio ofertado y con las condiciones generales de venta vigentes en ese concreto momento.</p>
<p>Una vez formalizado el pedido, se entenderá perfeccionada la compra de pleno derecho,con todas las garantías legales que amparan al consumidor adquirente y, desde ese instante, los precios y condiciones tendrán carácter contractual y no podrán ser modificados sin el expreso acuerdo de ambos contratantes. El castellano será la lengua utilizada para formalizar el contrato. El documento electrónico en que se formalice el contrato se archivará y el usuario tendrá acceso a él en su zona de cliente.</p>

<p>Only Tech se reserva el derecho de denegar y/o suspender el acceso a los servicios prestados en www.onlytech.com por razones de vulneración de la buena fe contractual, incumplimiento de la legislación de aplicación, de las presentes Condiciones Generales de Compra y/o en supuestos de fraude detectados por esta empresa y/o cualquiera de sus proveedores.</p>

<p [ngClass]="{'visible': showconditions, 'invisible': !showconditions}">Condiciones revisadas a 1 de junio de 2020</p>

<button (click)="changeText()">Mostrar/Ocultar fecha de modificación de condiciones</button>

</body>