<h2>Smartphones</h2>

<div *ngFor="let product of products; index as productId">
  <h3>
    <a [title]="'Más información sobre ' + product.name" [routerLink]="['/products', productId]">
    {{ product.name }}
    </a>
  </h3>
  <img src="https://raw.githubusercontent.com/aluski97/angular-tiendaalan/master/src/assets/img/{{product.route}}">
   <p *ngIf="product.model">
    Modelo: {{ product.model }}
  </p>
   <button (click)="share()">
    Compartir
  </button>
  <app-product-alerts
  [product]="product" 
  (notify)="onNotify()">
  </app-product-alerts>
</div>

<br>

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->